#gameController {
    margin-top: 5px;
    background-color: #81c784;
    border:1px solid black;
    padding: 20px;
    height: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 10%;
    grid-template-areas: 
        "enemy enemy enemy enemy enemy "
        "turn table table . deck"
        "player player player player player";
}

#gameController #turn {
    grid-area: turn;
    font-family: Arial;
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    height: 40px;
}

#gameController #deck {
    grid-area: deck;
    position: relative;
    display: flex;
    background-color: #4caf50;
    border: 1px solid black;
    padding: 15px;
}

#gameController #deck .card {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
#gameController #deck:empty::after {
    content: "PASS";
    font-family: Arial;
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
}

#gameController #table {
    grid-area: table;
    background-color: #4caf50;
    border: 1px solid black;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#gameController #enemyHand {
    grid-area: enemy;
    background-color: #4caf50;
    border: 1px solid black;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#gameController #playerHand {
    grid-area: player;
    background-color: #4caf50;
    border: 1px solid black;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    background-color: lightblue;
    border: 5px solid black;
    border-radius: 10px;
    margin: 0px 5px;
    width: 50px;
    min-width: 50px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.card:empty::after {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    content: "\01F7B4";
    font-size: 3.5em;
    color: grey;
}

.card span:first-child {
    font-family: cursive;
    font-size: 1.5em;
}
.card span:last-child[suit] {
    margin-top: -10px;
    visibility: hidden;
}
.card span:last-child[suit]::after {
    margin-left: -9px;
    visibility: visible;
    font-size: 2em;
}
.card span:last-child[suit="H"]::after {
    content: "\002665";
    color: red;
}
.card span:last-child[suit="D"]::after {
    content: "\002666";
    color: red;
}
.card span:last-child[suit="S"]::after {
    content: "\002660";
    color: black;
}
.card span:last-child[suit="C"]::after {
    content: "\002663";
    color: black;
}


.btn {
	box-shadow: inset 0px 1px 3px 0px #91b8b3;
	background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color: #768d87;
	border-radius: 5px;
	border: 1px solid #566963;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: cursive;
	font-size: 1em;
	font-weight: bold;
	padding: 5px 15px;
	text-decoration: none;
	text-shadow: 0px -1px 0px #2b665e;
}
.btn:hover {
	background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color: #6c7c7c;
}
.btn:active {
	position: relative;
	top: 1px;
}

input {
	font-family: cursive;
	font-size: 1em;
	font-weight: bold;
	padding: 5px 15px;
	border-radius: 5px;
	height: 30px;
	width: 200px;
}

span#roomName {
    border: 1px solid black;
    border-radius: 5px;
    font-family: cursive;
    font-size: 1em;
    font-weight: bold;
    padding: 5px 15px;
    width: 200px;
    display: inline-block;
}